@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Simulation Data Values</h1>
    <p></p>
    <div>
        <label for="startDate">Start Date:</label>
        <input type="date" id="startDate" name="startDate">
        <label for="startTime">Start Time:</label>
        <input type="time" id="startTime" name="startTime">
    </div>
    <div>
        <label for="endDate">End Date:</label>
        <input type="date" id="endDate" name="endDate">
        <label for="endTime">End Time:</label>
        <input type="time" id="endTime" name="endTime">
    </div>
    <div>
        <p>Select which data to display:</p>
        <div>
            <input type="checkbox" id="heartRateCheckbox" name="heartRateCheckbox" value="heartRate">
            <label for="heartRateCheckbox">Heart Rate</label>
        </div>
        <div>
            <input type="checkbox" id="bloodPressureSystolicCheckbox" name="bloodPressureSystolicCheckbox" value="bloodPressureSystolic">
            <label for="bloodPressureSystolicCheckbox">Blood Pressure Systolic</label>
        </div>
        <div>
            <input type="checkbox" id="bloodPressureDiastolicCheckbox" name="bloodPressureDiastolicCheckbox" value="bloodPressureDiastolic">
            <label for="bloodPressureDiastolicCheckbox">Blood Pressure Diastolic</label>
        </div>
        <div>
            <input type="checkbox" id="bodyTemperatureCheckbox" name="bodyTemperatureCheckbox" value="bodyTemperature">
            <label for="bodyTemperatureCheckbox">Body Temperature</label>
        </div>
        <div>
            <p>Select the order:</p>
            <select id="dataOrder" name="dataOrder">
                <option value="asc">Ascending</option>
                <option value="desc">Descending</option>
            </select>
        </div>
        <button onclick="updateTelemetryUrl()">Get Telemetry</button>
    </div>
    <iframe id="telemetryFrame" src="https://zakdhtelemetry.azurewebsites.net/api/telemetrydata/{start}/{end}/{filter}/{sort}" style="width:800px; height:600px;"></iframe>
</div>

<script>
    function updateTelemetryUrl() {
        var telemetryUrl;
        var chosenData = [];

        var startDate = document.getElementById("startDate").value;
        var startTime = document.getElementById("startTime").value;
        var endDate = document.getElementById("endDate").value;
        var endTime = document.getElementById("endTime").value;
        
        var heartRateChecked = document.getElementById("heartRateCheckbox").checked;
        var bloodPressureSystolicChecked = document.getElementById("bloodPressureSystolicCheckbox").checked;
        var bloodPressureDiastolicChecked = document.getElementById("bloodPressureDiastolicCheckbox").checked;
        var bodyTemperatureChecked = document.getElementById("bodyTemperatureCheckbox").checked;

        var dataOrder = document.getElementById("dataOrder").value;

        
        if (heartRateChecked) chosenData.push("heartRate");
        if (bloodPressureSystolicChecked) chosenData.push("bloodPressureSystolic");
        if (bloodPressureDiastolicChecked) chosenData.push("bloodPressureDiastolic");
        if (bodyTemperatureChecked) chosenData.push("bodyTemperature");
        var filter = chosenData.join(",");
        
        if (startDate && startTime && endDate && endTime) 
        {
            telemetryUrl = "https://zakdhtelemetry.azurewebsites.net/api/telemetrydata/" + startDate + "T" + startTime + "/" + endDate + "T" + endTime + "/" + filter + "/" + dataOrder;
        } 
        else 
        {
            var defaultStartDate = new Date(0); // Unix time frame origin
            var defaultEndDate = new Date(); // System's current time
            startDate = defaultStartDate.toISOString().substring(0, 10);
            endDate = defaultEndDate.toISOString().substring(0, 10);
            telemetryUrl = "https://zakdhtelemetry.azurewebsites.net/api/telemetrydata/" + startDate + "T00:00" + "/" + endDate + "T23:59" + "/" + filter + "/" + dataOrder;
        }
        document.getElementById("telemetryFrame").src = telemetryUrl;
    }
</script>
